name: Build
on:
  push:
    branches:
      - main
  schedule:
   - cron: 40 3 * * 0
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE: ghcr.io/${{ github.repository_owner }}/webhook
    steps:
      - uses: docker/login-action@v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v3
      - run: DOCKER_BUILDKIT=1 docker build -f Containerfile -t ${{ env.IMAGE }} .
      - name: docker tag ...
        run: |
          set -x
          VERSION=$(
            docker run --rm -i ${{ env.IMAGE }} -v \
              | cut -d ' ' -f 3
          )
          [ -n "$VERSION" ] || exit
          docker tag ${{ env.IMAGE }} ${{ env.IMAGE }}:"$VERSION"
      - run: docker push -a ${{ env.IMAGE }}
